.projects-container {
    padding: 90px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 5px double #88888870;
}


.card-container {
    margin-bottom: 100px;
    display: flex;
}

.project-card {
    justify-content: center;
    display: flex;
    max-width: 100%;
    background-color: #f4f4f4;
    padding: 30px;
    border: solid 6px #ebebeb;
}

.projects-title {
    text-align: center;
    color: #666;
}

.project-img {
    max-width: 450px;
}

.project-content {
    max-width: 550px;
    font-size: 14px;
}

.project-link {
    width: 25px;
    height: 25px;
}

.links-container {
    margin-top: 20px;
    max-width: 100px;
    display: flex;
    justify-content: space-around;
}

.description-container {
    max-width: 350px;
    color: #666;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 20px;
    border: solid 6px #ebebeb;
}

.description-container :hover {
    color: #e3b764;
}

.description {
    font-size: 12px;
}

.project-title,
.project-tools,
.description {
    margin-top: 5px;
    margin-bottom: 15px;
}

.project-title {
    color: #916000;
}

@media screen and (max-width: 995px) {
    .card-container {
        flex-direction: column;
    }

    .description-container {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .project-img {
        max-width: 300px;
    }
}