header {
    background-color: white;
    border-bottom: 5px double #88888870;
    position: sticky;
    top: 0;
}

nav {
    padding: 10px;
}

.navigation-header {
    margin: 50px;
}

a {
    color: #857e7e;
}

.navigation-list {
    font-weight: 700;
    padding-left: 0;
    font-size: 16px;
    color: #857e7e;
    display: flex;
    justify-content: space-around;
}

.navigation-list li {
    cursor: pointer;
}

.navigation-list a:hover {
    color: #d89d25;
}

.menu-mobile-open {
    margin-right: 10px;
    width: 45px;
}

.menu-close {
    margin-right: 10px;
    width: 45px;
}

.menu-computer {
    display: block;
}


.mobile-navigation-button-open,
.mobile-navigation-button-close {
    display: none;
}

.hamburger-menu {
    margin: 5px 15px;
    border: none;
    background: none;
}


.hamburger-menu>span {
    font-size: 17px;
}

@media screen and (max-width: 600px) {

    header {
        display: flex;
        justify-content: right;
        border-bottom: 5px solid #88888870;
    }

    .navigation-list {
        font-size: 12px;
    }

    .menu-computer {
        display: none;
    }

    .navigation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-navigation-button-open,
    .mobile-navigation-button-close {
        display: block;
        margin-left: auto;
    }
}

@media screen and (max-width: 430px) {
    .navigation-list {
        font-size: 8px;
    }
}