.contact-container {
    padding: 90px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px double #88888870;
}

.contact-title {
    text-align: center;
    color: #666;
}

.contact-icon {
    width: 50px;
    height: 50px;
}

.contact-icons-container {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}

.email-text {
    font-size: 20px;
    text-transform: none;
}

.email-text:hover {
    color: #de9e28;
}