.about-me-container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 50px;
    border-bottom: 5px double #88888870;
    padding-top: 100px;
}

.portrait {
    border-radius: 30px;
    margin-left: 50px;
    max-width: 400px;
}

.info-container {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.title-name {
    font-size: 30px;
    text-align: left;
    color: rgb(202 142 25);
    margin-bottom: 5px;
    margin-top: 5px;
}

.title {
    max-width: 600px;
    font-size: 22px;
    text-align: left;
    color: #666;
    margin-bottom: 5px;
    margin-top: 5px;
}


.bio-description {
    max-width: 850px;
    text-transform: none;
    color: #888;
    margin-bottom: 100px;
}


@media screen and (max-width: 851px) {
    .portrait {
        border-radius: 30px;
        margin-left: 50px;
        max-width: 250px;
    }

    .title-name {
        font-size: 23px;
    }

    .title {
        font-size: 16px;
    }

    .bio-description {
        font-size: 13px;
    }
}

@media screen and (max-width: 708px) {
    .portrait {
        border-radius: 25px;
        margin-left: 30px;
        max-width: 200px;
    }

    .title-name {
        font-size: 22px;
    }

    .title {
        font-size: 14px;
    }

    .bio-description {
        font-size: 11px;
    }

}

@media screen and (max-width: 570px) {
    .about-me-container {
        flex-direction: column;
        align-items: center;

    }

    .info-container {
        align-items: center;
    }

    .portrait {
        margin-left: 0px;
    }

    .bio-description {
        text-align: center;
    }

    .title-name {
        text-align: center;
    }

    .title {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .title-name {
        font-size: 20px;
    }

    .title {
        text-align: center;
        font-size: 12px;
    }

    .about-me-container {
        padding-top: 30px;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .ski .bio-description {
        text-align: center;
        font-size: 11px;
        margin-bottom: 30px;
    }
}